openapi: 3.0.3
info:
  title: WonderWay API
  description: |
    # 🌟 WonderWay API Documentation
    
    شبکه اجتماعی پیشرفته با قابلیتهای real-time، streaming و بسیاری از ویژگیهای مدرن.
    
    ## 🔐 Authentication
    
    این API از Bearer Token authentication استفاده میکند. برای دسترسی به endpointهای محافظت شده، باید token را در header قرار دهید:
    
    ```
    Authorization: Bearer YOUR_TOKEN_HERE
    ```
    
    ## 📱 Features
    
    - ✅ Posts (Text, Image, Video, GIF)
    - ✅ Real-time Messaging
    - ✅ Live Streaming
    - ✅ Stories & Moments
    - ✅ Polls & Community Notes
    - ✅ Multi-language Support
    
    ## 🌍 Base URLs
    
    - **Production**: `https://api.wonderway.com`
    - **Staging**: `https://staging-api.wonderway.com`
    - **Development**: `http://localhost:8000`
    
  version: 1.0.0
  contact:
    name: WonderWay Support
    email: support@wonderway.com
    url: https://wonderway.com/support
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.wonderway.com
    description: Production server
  - url: https://staging-api.wonderway.com
    description: Staging server
  - url: http://localhost:8000
    description: Development server

security:
  - bearerAuth: []

paths:
  /api/register:
    post:
      tags:
        - Authentication
      summary: Register new user
      description: Create a new user account
      operationId: register
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - username
                - email
                - password
                - password_confirmation
                - date_of_birth
              properties:
                name:
                  type: string
                  example: "علی احمدی"
                  maxLength: 255
                username:
                  type: string
                  example: "ali_ahmadi"
                  pattern: "^[a-zA-Z0-9_]+$"
                  maxLength: 255
                email:
                  type: string
                  format: email
                  example: "ali@example.com"
                password:
                  type: string
                  format: password
                  example: "Password123!"
                  minLength: 8
                  description: "Must contain uppercase, lowercase, number and special character"
                password_confirmation:
                  type: string
                  format: password
                  example: "Password123!"
                date_of_birth:
                  type: string
                  format: date
                  example: "1990-01-01"
      responses:
        '201':
          description: User registered successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "کاربر با موفقیت ثبت شد"
                  user:
                    $ref: '#/components/schemas/User'
                  token:
                    type: string
                    example: "1|abc123def456..."
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'

  /api/login:
    post:
      tags:
        - Authentication
      summary: Login user
      description: Authenticate user and get access token
      operationId: login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                  example: "ali@example.com"
                password:
                  type: string
                  format: password
                  example: "Password123!"
                two_factor_code:
                  type: string
                  example: "123456"
                  description: "Required if 2FA is enabled"
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "ورود موفقیتآمیز بود"
                  user:
                    $ref: '#/components/schemas/User'
                  token:
                    type: string
                    example: "1|abc123def456..."
        '401':
          description: Invalid credentials
        '403':
          description: 2FA required
          content:
            application/json:
              schema:
                type: object
                properties:
                  requires_2fa:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "کد تأیید دو مرحلهای مورد نیاز است"

  /api/posts:
    get:
      tags:
        - Posts
      summary: Get public posts
      description: Retrieve paginated list of public posts
      operationId: getPosts
      security: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
          description: Page number
        - name: per_page
          in: query
          schema:
            type: integer
            default: 20
            maximum: 50
          description: Posts per page
      responses:
        '200':
          description: List of posts
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Post'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'

    post:
      tags:
        - Posts
      summary: Create new post
      description: Create a new post with text, media, or poll
      operationId: createPost
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - content
              properties:
                content:
                  type: string
                  example: "سلام! این پست جدید من است #wonderway @testuser"
                  maxLength: 280
                image:
                  type: string
                  format: binary
                  description: "Image file (JPEG, PNG, GIF, WebP)"
                video:
                  type: string
                  format: binary
                  description: "Video file (MP4, MOV, AVI, MKV, WebM)"
                gif_url:
                  type: string
                  format: uri
                  example: "https://giphy.com/gifs/example"
                reply_settings:
                  type: string
                  enum: [everyone, following, mentioned, none]
                  default: everyone
                quoted_post_id:
                  type: integer
                  description: "ID of post being quoted"
                is_draft:
                  type: boolean
                  default: false
      responses:
        '201':
          description: Post created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        '422':
          description: Validation error

  /api/posts/{id}:
    get:
      tags:
        - Posts
      summary: Get specific post
      description: Retrieve a specific post with all relations
      operationId: getPost
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Post ID
      responses:
        '200':
          description: Post details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostDetailed'
        '404':
          description: Post not found

    delete:
      tags:
        - Posts
      summary: Delete post
      description: Delete a post (only by owner)
      operationId: deletePost
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Post ID
      responses:
        '200':
          description: Post deleted successfully
        '403':
          description: Unauthorized
        '404':
          description: Post not found

  /api/posts/{id}/like:
    post:
      tags:
        - Posts
      summary: Toggle post like
      description: Like or unlike a post
      operationId: toggleLike
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Post ID
      responses:
        '200':
          description: Like toggled successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  liked:
                    type: boolean
                    example: true
                  likes_count:
                    type: integer
                    example: 42

  /api/streaming/create:
    post:
      tags:
        - Streaming
      summary: Create live stream
      description: Create a new live stream
      operationId: createStream
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
              properties:
                title:
                  type: string
                  example: "استریم بازی امشب"
                  maxLength: 255
                description:
                  type: string
                  example: "بازی کردن بازی جدید"
                category:
                  type: string
                  enum: [gaming, music, talk, education, technology, sports, other]
                  example: "gaming"
                is_private:
                  type: boolean
                  default: false
                allow_chat:
                  type: boolean
                  default: true
                record_stream:
                  type: boolean
                  default: false
      responses:
        '201':
          description: Stream created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  stream:
                    $ref: '#/components/schemas/Stream'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    User:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: "علی احمدی"
        username:
          type: string
          example: "ali_ahmadi"
        email:
          type: string
          format: email
          example: "ali@example.com"
        avatar:
          type: string
          nullable: true
          example: "avatars/user1.jpg"
        bio:
          type: string
          nullable: true
          example: "توسعهدهنده نرمافزار"
        is_premium:
          type: boolean
          example: false
        is_verified:
          type: boolean
          example: false
        followers_count:
          type: integer
          example: 150
        following_count:
          type: integer
          example: 75
        posts_count:
          type: integer
          example: 42
        created_at:
          type: string
          format: date-time
          example: "2024-01-01T00:00:00Z"

    Post:
      type: object
      properties:
        id:
          type: integer
          example: 1
        content:
          type: string
          example: "سلام! این پست جدید من است #wonderway"
        image:
          type: string
          nullable: true
          example: "posts/image1.jpg"
        video:
          type: string
          nullable: true
          example: "posts/video1.mp4"
        gif_url:
          type: string
          nullable: true
          example: "https://giphy.com/gifs/example"
        likes_count:
          type: integer
          example: 25
        comments_count:
          type: integer
          example: 5
        quotes_count:
          type: integer
          example: 2
        is_liked:
          type: boolean
          example: false
        user:
          $ref: '#/components/schemas/User'
        hashtags:
          type: array
          items:
            $ref: '#/components/schemas/Hashtag'
        created_at:
          type: string
          format: date-time
          example: "2024-01-01T12:00:00Z"

    PostDetailed:
      allOf:
        - $ref: '#/components/schemas/Post'
        - type: object
          properties:
            comments:
              type: array
              items:
                $ref: '#/components/schemas/Comment'
            quoted_post:
              $ref: '#/components/schemas/Post'
              nullable: true

    Comment:
      type: object
      properties:
        id:
          type: integer
          example: 1
        content:
          type: string
          example: "نظر جالبی بود!"
        likes_count:
          type: integer
          example: 3
        user:
          $ref: '#/components/schemas/User'
        created_at:
          type: string
          format: date-time
          example: "2024-01-01T12:30:00Z"

    Hashtag:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: "wonderway"
        slug:
          type: string
          example: "wonderway"
        posts_count:
          type: integer
          example: 150

    Stream:
      type: object
      properties:
        id:
          type: integer
          example: 1
        title:
          type: string
          example: "استریم بازی امشب"
        description:
          type: string
          example: "بازی کردن بازی جدید"
        category:
          type: string
          example: "gaming"
        status:
          type: string
          enum: [created, live, ended]
          example: "created"
        stream_key:
          type: string
          example: "sk_abc123def456"
        rtmp_url:
          type: string
          example: "rtmp://live.wonderway.com/live"
        hls_url:
          type: string
          example: "https://live.wonderway.com/hls/stream1.m3u8"
        viewers:
          type: integer
          example: 0
        peak_viewers:
          type: integer
          example: 0
        user:
          $ref: '#/components/schemas/User'
        created_at:
          type: string
          format: date-time
          example: "2024-01-01T20:00:00Z"

    PaginationMeta:
      type: object
      properties:
        current_page:
          type: integer
          example: 1
        per_page:
          type: integer
          example: 20
        total:
          type: integer
          example: 100
        last_page:
          type: integer
          example: 5
        from:
          type: integer
          example: 1
        to:
          type: integer
          example: 20

    ValidationError:
      type: object
      properties:
        message:
          type: string
          example: "The given data was invalid."
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          example:
            email: ["The email field is required."]
            password: ["The password must be at least 8 characters."]

    Error:
      type: object
      properties:
        error:
          type: string
          example: "RESOURCE_NOT_FOUND"
        message:
          type: string
          example: "منبع مورد نظر یافت نشد"

tags:
  - name: Authentication
    description: User authentication and authorization
  - name: Posts
    description: Post management and interactions
  - name: Streaming
    description: Live streaming functionality
  - name: Users
    description: User profile and management
  - name: Messages
    description: Direct messaging system
  - name: Notifications
    description: Push notifications and alerts