openapi: 3.0.3
info:
  title: WonderWay Backend API
  description: |
    Enterprise-grade social media platform API similar to Twitter with advanced features.
    
    ## Features
    - User authentication and authorization
    - Posts, comments, likes, reposts
    - Real-time messaging and notifications
    - Live streaming capabilities
    - Monetization platform
    - Multi-language support
    
  version: 3.0.0
  contact:
    name: WonderWay Development Team
    email: dev@wonderway.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.wonderway.com/api
    description: Production server
  - url: https://staging-api.wonderway.com/api
    description: Staging server
  - url: http://localhost:8000/api
    description: Development server

security:
  - bearerAuth: []

paths:
  # Authentication
  /register:
    post:
      tags: [Authentication]
      summary: Register new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, username, email, password, password_confirmation]
              properties:
                name:
                  type: string
                  example: "John Doe"
                username:
                  type: string
                  example: "johndoe"
                email:
                  type: string
                  format: email
                  example: "john@example.com"
                password:
                  type: string
                  minLength: 8
                  example: "password123"
                password_confirmation:
                  type: string
                  example: "password123"
      responses:
        '201':
          description: User registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'

  /login:
    post:
      tags: [Authentication]
      summary: User login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'

  # Posts
  /posts:
    get:
      tags: [Posts]
      summary: Get timeline posts
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 20
            maximum: 50
      responses:
        '200':
          description: Timeline posts retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Post'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'

    post:
      tags: [Posts]
      summary: Create new post
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [content]
              properties:
                content:
                  type: string
                  maxLength: 280
                  example: "Hello World! This is my first post."
                media:
                  type: array
                  items:
                    type: string
                    format: binary
                  maxItems: 4
                is_draft:
                  type: boolean
                  default: false
      responses:
        '201':
          description: Post created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostResponse'

  /posts/{id}:
    get:
      tags: [Posts]
      summary: Get specific post
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Post retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostResponse'

    put:
      tags: [Posts]
      summary: Edit post (within time limit)
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [content]
              properties:
                content:
                  type: string
                  maxLength: 280
      responses:
        '200':
          description: Post updated successfully
        '403':
          description: Edit time limit exceeded

    delete:
      tags: [Posts]
      summary: Delete post
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Post deleted successfully

  /posts/{id}/like:
    post:
      tags: [Posts]
      summary: Like a post
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Post liked successfully

  # Monetization
  /monetization/ads:
    post:
      tags: [Monetization]
      summary: Create advertisement
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, content, budget, targeting_criteria]
              properties:
                title:
                  type: string
                  example: "Promote Your Business"
                content:
                  type: string
                  example: "Reach millions of users with our platform"
                media_url:
                  type: string
                  format: uri
                budget:
                  type: number
                  format: decimal
                  example: 100.00
                cost_per_click:
                  type: number
                  format: decimal
                  example: 0.10
                targeting_criteria:
                  type: object
                  properties:
                    age_range:
                      type: array
                      items:
                        type: integer
                      example: [18, 65]
                    interests:
                      type: array
                      items:
                        type: string
                      example: ["technology", "business"]
      responses:
        '201':
          description: Advertisement created successfully

  /monetization/ads/targeted:
    get:
      tags: [Monetization]
      summary: Get targeted advertisements
      responses:
        '200':
          description: Targeted ads retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Advertisement'

  /monetization/creator-fund/analytics:
    get:
      tags: [Monetization]
      summary: Get creator fund analytics
      responses:
        '200':
          description: Creator analytics retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      total_views:
                        type: integer
                      total_engagement:
                        type: integer
                      quality_score:
                        type: number
                        format: decimal
                      estimated_earnings:
                        type: number
                        format: decimal

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    User:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        username:
          type: string
        email:
          type: string
          format: email
        avatar:
          type: string
          format: uri
        followers_count:
          type: integer
        following_count:
          type: integer
        posts_count:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Post:
      type: object
      properties:
        id:
          type: integer
        content:
          type: string
        user:
          $ref: '#/components/schemas/User'
        media:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              url:
                type: string
                format: uri
              type:
                type: string
                enum: [image, video]
        likes_count:
          type: integer
        comments_count:
          type: integer
        reposts_count:
          type: integer
        is_liked:
          type: boolean
        is_reposted:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Advertisement:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        content:
          type: string
        media_url:
          type: string
          format: uri
        budget:
          type: number
          format: decimal
        impressions_count:
          type: integer
        clicks_count:
          type: integer
        targeting_criteria:
          type: object

    AuthResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            user:
              $ref: '#/components/schemas/User'
            token:
              type: string
            expires_at:
              type: string
              format: date-time
        message:
          type: string

    PostResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          $ref: '#/components/schemas/Post'
        message:
          type: string

    PaginationMeta:
      type: object
      properties:
        current_page:
          type: integer
        per_page:
          type: integer
        total:
          type: integer
        last_page:
          type: integer

    Error:
      type: object
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
        errors:
          type: object
        meta:
          type: object
          properties:
            timestamp:
              type: string
              format: date-time
            error_id:
              type: string
              format: uuid

  responses:
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    
    Forbidden:
      description: Insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    
    ValidationError:
      description: Validation failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

tags:
  - name: Authentication
    description: User authentication and authorization
  - name: Posts
    description: Post management and interactions
  - name: Users
    description: User profile and social features
  - name: Monetization
    description: Advertisement and creator fund features
  - name: Streaming
    description: Live streaming capabilities
  - name: Notifications
    description: Real-time notifications